// Container

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 320px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 75px;
        padding-right: 75px;
    }

    @media screen and (min-width: 1024px) {
        width: 1024px;
        padding-left: 71px;
        padding-right: 71px;
    }
}