@media screen and (min-width: 320px) {
    .container {
      width: 320px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .container {
      width: 1280px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }