:root {
    // fonts

    --font-main: 'Roboto', sans-serif;

    // colors

    --color-white: #ffffff;
    --color-black: #000000;
    --main-text-color: #545454;
    --accent-color: #ff6b08;
    --card-background-color: #f7f7f7;
    --icon-color: #818181;
    --error-color: #ff001b;
   
}