:root {
  // fonts

  --font-main: "Roboto", sans-serif;

  // colors

  --color-white: #ffffff;
  --color-black: #000000;
  --main-text-color: #545454;
  --accent-color: #ff6b08;
  --card-background-color: #f7f7f7;

  --icon-color: #818181;
  --error-color: #ff001b;

  --heart-icon: #f8d792e5;

  --accent-color-modal-team: rgba(247, 136, 1, 0.836);
  --box-shadow-modal-team: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  --bgc-modal-team: rgb(241, 238, 238);
  --border-modal-team: 0.5px solid rgb(247, 136, 1, 0.5);
  --transition-duration-function: 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}
