/* reset */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* utils */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// Backdrop - DO NOT REMOVE

.backdrop-modal {
  background-color: rgba(187, 49, 21, 0.566);
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 80%;
  // watch tp!!!!
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  // transition: all 0.4s;
 
    // @media screen and (min-width: 480px) {

    // }
    
    // @media screen and (min-width: 768px) {

    // }
    
    // @media screen and (min-width: 1280px) {

    // }
}

// Modal

.movie-card {
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 280px;
    height: 940px;
    background-color: var(--color-white);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    // transition: all 0.4s;

    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.87), rgba(85, 78, 78, 0.274));

    animation: flicker 1.5s infinite alternate;
    box-shadow: 0 0 4px rgb(128, 91, 91), 0 0 11px rgb(175, 112, 112), 0 0 80px rgb(109, 100, 100);

    @media screen and (min-width: 480px) {
        width: 420px;
        height: 940px;
    }
    
    @media screen and (min-width: 768px) {
        width: 704px;
        height: 552px;    
    }
    
    @media screen and (min-width: 1280px) {
        width: 806px;
        height: 558px;
    }
}

.button-wrapper {
  position: absolute;
  transform: translate(140%, 10%);

  @media screen and (min-width: 480px) {
    transform: translate(260%, 10%);
  }

  @media screen and (min-width: 768px) {
    transform: translate(500%, 10%);
  }

  @media screen and (min-width: 1280px) {
    transform: translate(590%, 10%);
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  width: 60px;
  height: 30px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--accent-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 5px;
  font-style: inherit;
  font-weight: 500;
  background-color: rgba(226, 220, 220, 0.776);
  transition: all 0.4s;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    background-color: rgba(255, 106, 0, 0.838);
    color: var(--color-white);
    transform: scale(1.1);
  }
}

.watch-trailer {
  width: 120px;
  height: 30px;
  padding: 5px;
  z-index: 30;
  border: 1px solid var(--accent-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 5px;
  font-style: inherit;
  font-weight: 500;
  background-color: rgba(226, 220, 220, 0.776);
  transition: all 0.4s;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    background-color: rgba(255, 106, 0, 0.838);
    color: var(--color-white);
    transform: scale(1.1);
  }
}

.info-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
  }

        // @media screen and (min-width: 480px) {
    
        // }
    
        // @media screen and (min-width: 768px) {
    
        // }
    
        // @media screen and (min-width: 1280px) {
    
        // }

}

.card-main-poster {
    max-width: 240px;
    // height: 357px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    // overflow: hidden;

    // @media screen and (min-width: 480px) {
        
    // }
        
    // @media screen and (min-width: 768px) {
        
    // }
        
    // @media screen and (min-width: 1280px) {
        
    // }

  // @media screen and (min-width: 768px) {
  //   width: 264px;
  //   height: 373.55px;
  //   // margin: 15px 36px;
  // }

  // @media screen and (min-width: 1280px) {
  //   width: 375px;
  //   height: 478px;
  //   // margin: 12px 40px;
  // }
}

.info-section {
  padding: 0px 20px;
  margin-top: 20px;

//   @media screen and (min-width: 768px) {
//     margin-top: 0;
//   }

//   @media screen and (min-width: 480px) {
//     // padding: 25px 36px;
//   }
}

.title-wrapper {
  max-height: 70px;
  overflow-wrap: break-word;
  overflow-y: hidden;

}

.card-movie-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.card-movie-info {
  margin-bottom: 20px;

  display: flex;

  @media screen and (min-width: 480px) {
    // margin-top: 10px;
  }
}

.row {
  text-align: left;
  font-weight: 500;
  size: 12px;
  line-height: 1.33;
}

.row-title {
  color: var(--icon-color);
  min-width: 75px;
  margin-right: 37px;

  @media screen and (min-width: 1280px) {
    margin-right: 83px;
  }
}

.row-value {
  padding-left: 38px;

  @media screen and (min-width: 1280px) {
    padding-left: 83px;
  }
}

.row-title-original {
  display: block;
  max-width: 160px;
  max-height: 48px;
  text-transform: uppercase;
  overflow-y: hidden;
}

.votes {
  line-height: 1.17;
  background-color: var(--accent-color);
  padding: 1px 10px;
  border-radius: 5px;
  color: var(--color-white);
}

.movie-descr {
  margin-bottom: 20px;
  width: 240px;
  height: 260px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 260px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
    height: 194px;
  }
}

.movie-descr__about {
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.movie-descr__text {
  font-weight: 500;
  max-height: 240px;
  overflow-y: hidden;
  line-height: 1.67;

  @media screen and (min-width: 480px) {
    height: 120px;
  }

  @media screen and (min-width: 1280px) {
    height: 184px;
  }
}

.modal-buttons {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 480px) {
    justify-content: center;
  }
}

.watch-btn,
.queue-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.queue-btn,
.watch-btn {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
}

.watch-btn,
.queue-btn {
  height: 44px;
  max-width: 110px;
  padding: 6px 27px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

  border-radius: 5px;
  transition: all 0.4s;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: var(--color-white);
    transform: scale(1.1);
  }

  @media screen and (min-width: 768px) {
    max-width: 125px;
  }
}

.movie-social {
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 10px;

  @media screen and (min-width: 480px) {
    position: relative;
    transform: translateY(20px);
    margin-top: 5px;
    padding: 10px;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    transform: translate(-125%, -97%);
    padding: 10px;
  }

  @media screen and (min-width: 1280px) {
    position: relative;
    transform: translate(-44%, 52%);
  }
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

.icon {
  transition: all 0.4s;

  &:hover,
  &:focus {
    transform: scale(1.2);
    fill: var(--color-black);
  }
}

.icon-heart {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.heart-box {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--color-white);
  box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
  animation: pulse-orange 2s infinite;
}

@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}
