/* reset */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* utils */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// Backdrop - DO NOT REMOVE

.backdrop-modal {
  background-color: rgba(101, 28, 6, 0.183);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  overflow-y: scroll;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

// Modal

.movie-card {
  font-family: "Roboto", sans-serif;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 20;
  width: 280px;
  max-height: 940px;
  background-color: var(--color-white);
  border: 1px solid var(--accent-color);
  border-radius: 10px;

  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.87), rgba(85, 78, 78, 0.274));

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-top: 170px;

  @media screen and (min-width: 480px) {
    width: 420px;
    max-height: 940px;
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    max-height: 552px;
    margin-top: 0px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    max-height: 558px;
  }
}

.button-wrapper {
  position: absolute;
  transform: translate(140%, 10%);

  @media screen and (min-width: 480px) {
    transform: translate(260%, 10%);
  }

  @media screen and (min-width: 768px) {
    transform: translate(500%, 10%);
  }

  @media screen and (min-width: 1280px) {
    transform: translate(640%, 10%);
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: 1280px) {
    justify-content: flex-start;
  }
}

.close-button {
  width: 60px;
  height: 30px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--accent-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 5px;
  font-style: inherit;
  font-weight: 500;
  background-color: rgba(226, 220, 220, 0.776);
  transition: transform 0.5s;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    background-color: rgba(255, 106, 0, 0.838);
    color: var(--color-white);
    transform: scale(1.1);
  }
}

.watch-trailer {
  width: 120px;
  height: 30px;
  padding: 5px;
  z-index: 30;
  border: 1px solid var(--accent-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 5px;
  font-style: inherit;
  font-weight: 500;
  background-color: rgba(226, 220, 220, 0.776);
  transition: transform 0.5s;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    background-color: rgba(255, 106, 0, 0.838);
    color: var(--color-white);
    transform: scale(1.1);
  }
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;


  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding: 20px 36px;
  }

  @media screen and (min-width: 1280px) {
    padding: 40px 12px;
  }
}

.card-main-poster {
  object-fit: cover;
  width: 240px;
  height: 357px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;

  @media screen and (min-width: 480px) {
    width: 280px;
    height: 367px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373.55px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
    margin-top: 0px;
  }
}

.info-section {
  padding: 0px 20px;
  margin-top: 20px;

  @media screen and (min-width: 480px) {
    padding: 0px 40px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 68px;
    padding: 0px;
  }

  @media screen and (min-width: 480px) {
    margin-left: 16px;
    margin-top: 0px;
  }
}

.title-wrapper {
  overflow-wrap: break-word;
  overflow-y: hidden;
}

.card-movie-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 20px;
  overflow-y: hidden;

  @media screen and (min-width: 768px) {
    width: 345px;
    margin-bottom: 0px;
    margin-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    margin-top: 0px;
  }
}

.genres-row {
  max-height: 30px;
  overflow-y: hidden;

  @media screen and (min-width: 768px) {
    width: 345px;
    max-height: 45px;
  }

  @media screen and (min-width: 1280px) {
    max-height: 40px;
  }
}

.card-movie-info {
  margin-bottom: 20px;
  display: flex;

  @media screen and (min-width: 480px) {
    max-width: 378px;
    margin-top: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 20px;
  }
}

.row {
  text-align: left;
  font-weight: 500;
  size: 12px;
  line-height: 1.33;
}

.row-title {
  color: var(--icon-color);
  min-width: 75px;
  margin-right: 37px;
}

.row-value {
  padding-left: 38px;

  @media screen and (min-width: 1280px) {
    padding-left: 83px;
  }
}

.row-title-original {
  display: block;
  max-width: 160px;
  max-height: 48px;
  text-transform: uppercase;
  overflow-y: hidden;

  @media screen and (min-width: 480px) {
    max-width: 295px;
    max-height: 48px;
  }
}

.votes {
  line-height: 1.17;
  background-color: var(--accent-color);
  padding: 1px 10px;
  border-radius: 5px;
  color: var(--color-white);
}

.movie-descr {
  margin-bottom: 20px;
  width: 240px;
  max-height: 240px;
  overflow-y: hidden;

  @media screen and (min-width: 480px) {
    width: 322px;
    max-height: 260px;
  }

  @media screen and (min-width: 768px) {
    width: 361px;
    max-height: 523px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
    max-height: 194px;
  }
}

.movie-descr__about {
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.movie-descr__text {
  width: 220px;
  font-weight: 500;
  max-height: 260px;
  overflow-y: hidden;
  line-height: 1.67;

  @media screen and (min-width: 480px) {
    width: 322px;
    max-height: 260px;
    max-width: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 361px;
    max-height: 523px;
  }

  @media screen and (min-width: 1280px) {
    max-height: 190px;
    padding-bottom: 10px;
    width: 391px;
  }
}

// DO NOT remove desktop-wrapper

// .desktop-wrapper {

//   @media screen and (min-width: 768px) {
//     display: flex;
//     flex-direction: row-reverse;
//     justify-content: space-around;
//     align-items: center;
//     margin-left: -130px;
//   }

//   @media screen and (min-width: 1280px) {
//     flex-direction: column;
//     margin-left: 0px;
//     align-items: center;
//     gap: 10px;
//   }
// }

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;

  @media screen and (min-width: 480px) {
    justify-content: center;
    gap: 30px;
  }
}

.watch-btn,
.queue-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.queue-btn,
.watch-btn {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
}

.watch-btn,
.queue-btn {
  height: 44px;
  max-width: 110px;
  padding: 6px 27px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

  border-radius: 5px;
  transition: all 0.4s;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: var(--color-white);
    transform: scale(1.1);
  }

  // &:active {
  //   border-color: var(--accent-color);
  //   background-color: var(--accent-color);
  //   color: var(--color-white);
  // }

  &.active {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: var(--color-white);
  }

  @media screen and (min-width: 768px) {
    max-width: 125px;
  }
}

// Do not remove styles below

.movie-social {
  padding: 15px;
  padding-top: 2px;
  padding-bottom: 5px;
  margin-top: 7px;

  @media screen and (min-width: 480px) {
    margin-top: 10px;
    padding: 10px;
  }

  @media screen and (min-width: 768px) {
    // margin-top: 15px;
    padding: 10px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 0px;
  }
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

.icon {
  transition: all 0.4s;

  &:hover,
  &:focus {
    transform: scale(1.2);
    fill: var(--color-black);
  }
}

.icon-heart {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.heart-box {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--color-white);
  box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
  animation: pulse-orange 2s infinite;
}

@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}
