.our-team-modal {
    cursor: pointer;
    text-decoration: none;

    width: 500px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-img {
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 30%;
    object-fit: cover;

}

.img {
    object-fit: cover;
}

