body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: calc(16 / 12);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* .container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;


} */
.section {
  margin-bottom: 60px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-films {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 15px;
}

.item-films {
  width: 395px;
  min-height: 634px;
  /* border: solid 1px blue; */
}

.img-cover {
  height: 593px;
  border-radius: 5px;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: black;

  margin-top: 12px;
}

.film-info {
  display: flex;
  color: #ff6b01;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.genre {
  margin-right: 7px;
}

.year {
  margin-right: 7px;
}

.rating {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #fff;
  background-color: #ff6b01;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  width: 38px;
  height: 20px;
  padding-top: 2px;
  margin-top: 1px;
}

.btn-pagination {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  display: flex;
  align-items: center;
  justify-content: center;

  color: #000000;
  transition: background-color 200ms;
}

.btn-arrow {
  background-color: #f7f7f7;
}

.btn-pagination:hover,
.btn-pagination:focus {
  background-color: #ff6b08;
  color: #fff;
}

.list-pagination {
  display: flex;
  justify-content: center;
}

.footer-txt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #545454;
}

.footer-list {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-item:not(:last-child) {
  margin-right: 10px;
  display: flex;
}

.footer-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #545454;
}
.footer {
  background: #f7f7f7;
}

.modal {
  position: relative;
  width: 810px;
  height: 560px;
  border: solid 1px black;
}

.btn-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

.btn-close:hover {
  cursor: pointer;
}

.modal-list {
  display: flex;
}

.modal-item {
  margin-bottom: 40px;
  margin-top: 40px;
}

.modal-item:not(:last-child) {
  margin-right: 16px;
}

.modal-img {
  margin-left: 12px;
}

.item-description {
  margin-bottom: 20px;
  display: flex;
}

.modal-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35 / 30);

  color: #000000;
}

.left_column {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #8c8c8c;
  padding-right: 50px;
}

.right_column {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  display: flex;
  align-items: center;

  color: #000000;
}

.about {
  display: flex;
  flex-direction: column;
}

.about-title {
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #000000;
}

.about-txt {
  width: 390px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(20 / 12);

  color: #000000;
}

.modal-btn {
  width: 136px;
  height: 34px;
  background-color: transparent;
  border: solid 1px #000000;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);

  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  transition: all 300ms;
}

.modal-btn:not(:last-child) {
  margin-right: 15px;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #fff;
  background-color: #ff6b08;
  cursor: pointer;
}
